<a href="https://colab.research.google.com/github/Advincula1224/1st-activity/blob/main/BARTHAG.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd

In [6]:
df=pd.read_csv('https://raw.githubusercontent.com/Advincula1224/1stactivity/main/cbb.csv')

In [7]:
df.head()

,TEAM,CONF,G,W,ADJOE,ADJDE,BARTHAG,EFG_O,EFG_D,TOR,...,FTRD,2P_O,2P_D,3P_O,3P_D,ADJ_T,WAB,POSTSEASON,SEED,YEAR
0,North Carolina,ACC,40,33,123.3,94.9,0.9531,52.6,48.1,15.4,...,30.4,53.9,44.6,32.7,36.2,71.7,8.6,2ND,1.0,2016
1,Wisconsin,B10,40,36,129.1,93.6,0.9758,54.8,47.7,12.4,...,22.4,54.8,44.7,36.5,37.5,59.3,11.3,2ND,1.0,2015
2,Michigan,B10,40,33,114.4,90.4,0.9375,53.9,47.7,14.0,...,30.0,54.7,46.8,35.2,33.2,65.9,6.9,2ND,3.0,2018
3,Texas Tech,B12,38,31,115.2,85.2,0.9696,53.5,43.0,17.7,...,36.6,52.8,41.9,36.5,29.7,67.5,7.0,2ND,3.0,2019
4,Gonzaga,WCC,39,37,117.8,86.3,0.9728,56.6,41.1,16.2,...,26.9,56.3,40.0,38.2,29.0,71.5,7.7,2ND,1.0,2017

In [8]:
df.duplicated().sum()

0

In [16]:
df.drop_duplicates(inplace=True)

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3523 entries, 0 to 3522
Data columns (total 24 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   TEAM        3523 non-null   object
 1   CONF        3523 non-null   object
 2   G           3523 non-null   int64
 3   W           3523 non-null   int64
 4   ADJOE       3523 non-null   float64
 5   ADJDE       3523 non-null   float64
 6   BARTHAG     3523 non-null   float64
 7   EFG_O       3523 non-null   float64
 8   EFG_D       3523 non-null   float64
 9   TOR         3523 non-null   float64
 10  TORD        3523 non-null   float64
 11  ORB         3523 non-null   float64
 12  DRB         3523 non-null   float64
 13  FTR         3523 non-null   float64
 14  FTRD        3523 non-null   float64
 15  2P_O        3523 non-null   float64
 16  2P_D        3523 non-null   float64
 17  3P_O        3523 non-null   float64
 18  3P_D        3523 non-null   float64
 19  ADJ_T       3523 non-null   float64
 20  WAB         3523 non-null   float64
 21  POSTSEASON  680 non-null    object
 22  SEED        680 non-null    float64
 23  YEAR        3523 non-null   int64
dtypes: float64(18), int64(3), object(3)
memory usage: 660.7+ KB

In [45]:
df['ADJOE'] = pd.to_numeric(df['ADJOE'],errors='coerce' ). astype('Int64')

In [46]:
df['ADJOE'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 3523 entries, 0 to 3522
Series name: ADJOE
Non-Null Count  Dtype
--------------  -----
3523 non-null   Int64
dtypes: Int64(1)
memory usage: 31.1 KB

In [47]:
print(df['ADJOE'])

0       123
1       129
2       114
3       115
4       117
       ...
3518    119
3519    111
3520    107
3521    112
3522    110
Name: ADJOE, Length: 3523, dtype: Int64

In [50]:
df['BARTHAG'] = pd.to_numeric(df['BARTHAG'],errors='coerce' ). astype('int64')

In [51]:
df['BARTHAG'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 3523 entries, 0 to 3522
Series name: BARTHAG
Non-Null Count  Dtype
--------------  -----
3523 non-null   int64
dtypes: int64(1)
memory usage: 27.6 KB

In [52]:
print(df['BARTHAG'])

0       0
1       0
2       0
3       0
4       0
       ..
3518    0
3519    0
3520    0
3521    0
3522    0
Name: BARTHAG, Length: 3523, dtype: int64

In [59]:
df['gap'] = df['ADJOE'] + df['BARTHAG']

In [61]:
df['gap']

0       123
1       129
2       114
3       115
4       117
       ...
3518    119
3519    111
3520    107
3521    112
3522    110
Name: gap, Length: 3523, dtype: Int64